.navigation{
    margin-top: 20px;
    font-weight: 800;
    font-size: 14px;

}.business-name{
    font-size: 14px;
    color: #000c17;

}.navigation-items{
    position: absolute;
    font-weight: 800;
}.navigation-items ul{

}.navigation-items ul li{
    display: inline;
}.navigation-items ul li a{
    text-decoration: none;
    color: #000c17;
}.mobile-navmenu{
    background-color: #f4f4f4;
    border-radius: 6px;
    position: absolute;
    padding: 10px;
}.mobile-navmenu ul li{
    padding: 9px 3px;
}.mobile-navmenu ul li a{
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
    font-size: 13px;
    color: #000c17;
}.navigation-items ul li a:hover::before{
    content: '';
    background: #B2FF59;
    color: #B2FF59;
    width: 5%;
    height: 25%;
    position: absolute;
    border-radius: 3px;
    bottom: -2px;
    z-index: -1;
    margin-right: auto;
}.nav-button{
    text-decoration: none;
    position: absolute;
    top: 30px;
    left: 10px;
    transform: scale(.70);
}.nav-button span{
    margin: 0 .7px;
    background-color: #000c17;
    color: #000c17;
    width: 7px;
    height: 1px;
    border-radius: 2px;
}